
body{
  background-image:url(https://www.readyeducation.com/hubfs/ReadyEducation_October2019/Images/5c93f41406a0603eb3f49b1b_brooke-cagle-1181688-unsplash.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
#title{
    font-family:sans-serif;
    text-align:center;
    font-size: 2.5em; 
  }
  #description{
    text-align:center;
    font-style: italic;
    font-size: 1.5rem; 
  }
  form{
    margin:0 auto;
    width:650px;
    background-color: rgba(0,55,0,0.4);
    padding:40px;
  }

  label,input,select{
    display: block;
    margin:1.5rem 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.5rem; 
  }

  input,select,textarea{
    min-height: 2em;
    width:100%;
    margin:10px 0 0 0;
    background-color: rgb(231,190,100) ;
    border: none;
    /* font-size:large; */
  }

  textarea{
    font-size: larger;
  }

  input:focus::placeholder{
    color:transparent; 
  }
  
  .inline{
    width:unset;
    margin:0 0.5em 0 0;
    vertical-align: middle;
    display:inline;
  }
  .Inline{
    width:13px;
    margin:0 0.5em 0 0;
    vertical-align: middle;
    display:inline;
  }

#submit{
    margin-bottom: 0; 
    color:black;
    background-color: greenyellow;
  }
  

